
@{
    ViewBag.Title = "workshop";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<style>
    form {
        box-shadow: 2px 2px 10px grey;
    }
</style>

<h3 class="text-center text-secondary my-4">
    Workshop <span class="text-danger">&nbsp;Management..!</span>
</h3>
@if (Model != null)
{
    if (Model.Tables[1].Rows.Count > 0)
    {
        int i = 0;
        <p>Total Records : <span class="text-primary">@Model.Tables[1].Rows.Count</span></p>
        <div style="overflow:auto;">
            <table class="table table-bordered" id="mytable">
                <thead class="table-primary">
                    <tr>
                        <th>Sr</th>
                        <th>Collage Name</th>
                        <th>Workshop Date</th>
                        <th>Remark</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow dt in Model.Tables[1].Rows)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td id="name_@dt["id"]">@dt["name"]</td>
                            <td id="date_@dt["id"]">@Convert.ToDateTime(dt["workshopdate"]).ToString("yyyy-MM-dd")</td>
                            <td id="remark_@dt["id"]">@dt["remark"]</td>
                            <td class="text-center">
                                <a class="btn btn-warning text-primary" onclick="setWorkshopData(@dt["id"],@dt["collegename"])" data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="/home/workshop?id=@dt["id"]" onclick="return confirm('Do You Really Want To Delete?')" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }



                </tbody>
            </table>
            </div>
            }
            else
            {
            <h3 class="text-center text-secondary">Records Not Found</h3>
            }
            }


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title font-weight-bold" id="exampleModalLabel">
                                Update Workshop <span class="text-danger">Here..!</span>
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="border p-4 rounded" method="post" action="/home/editworkshop">
                                <input type="number" name="id" hidden id="id" />
                                <label class="w-100">
                                    <b>Select Collage Name</b><br />
                                    <select class="form-control" name="collegename" id="collagename" required>
                                        <option disabled selected>--select Collage name--</option>
                                        @if (Model != null)
                                        {
                                            if (Model.Tables[0].Rows.Count > 0)
                                            {
                                                foreach (System.Data.DataRow dt in Model.Tables[0].Rows)
                                                {
                                                    <option class="collageid" value="@dt["id"]">@dt["collegename"]</option>
                                                }
                                            }
                                        }
                                    </select>
                                </label>
                                <label class="w-100">
                                    <b>Date of Workshop</b>
                                    <input type="date" name="workshopdate" id="wdate" required class="form-control" />
                                </label>
                                <label class="w-100">
                                    <b>Remark (Optional)</b>
                                    <textarea rows="5" class="form-control" id="remark" style="resize:none;" name="remark" placeholder="Write Somthing Here..."></textarea>
                                </label>
                                <input type="submit" value="Update Now" class="btn btn-primary font-weight-bold" />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function setWorkshopData(id, cid) {
                    let collagelist = document.querySelectorAll(".collageid")
                    collagelist.forEach(function (e) {
                        if (e.value == cid) {
                            e.setAttribute("selected", "");
                        }
                    })
                    $("#wdate").val($("#date_" + id).text());
                    $("#remark").val($("#remark_" + id).text());
                    $("#id").val(id)
                }
            </script>
